.DS_Store

# dependencies
./tictactoe-app/node_modules
/tictactoe-app/node_modules

./indecision-app/node_modules
/indecision-app/node_modules

# testing
./tictactoe-app/coverage

# production
./tictactoe-app/build
/tictactoe-app/build

# misc
/tictactoe-app/.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

./tictactoe-app/npm-debug.log*
./tictactoe-app/yarn-debug.log*
./tictactoe-app/yarn-error.log*